/*********************************************************navBar.css********************************************************************/


/*********************************************************basicColors*******************************************************************/
.green
{
  background-color:green;
}
.red
{
   background-color:red;
}
/*********************************************************ElementPositions**************************************************************/

.left {
    float: left;
}
.right {
    float: right;
}
/*********************************************************simpleNavigationBar**********************************************************/
.simpleNavBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.simpleNavBarElement {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.hoverBackgroundRed:hover{
   background-color: red;
}

.hoverBackgroundBlack:hover{
   background-color: Black;
}

.hoverBackgroundGreen:hover{
   background-color: green;
}

.hoverBackgroundYellow:hover{
   background-color: yellow;
}
